body {
	background-image: url(image/Fire.jpg);
	background-position:center 0px
}

 #CV {
    padding: 10px; /*Отступы для текста*/
    background: white; /* Задаем цвет фона */
    margin: 0 auto; /* Центрируем блок */
    width: 65%;	/* Задаем ширину блока */
    opacity: 0.7; /* Задаем прозрачность */
    font: 48px/64px CaptionText;
	overflow: auto;
   }
.left_title {
      position: relative; 
      float: left;
	  font-family: Georgia, Times, serif;
	  
}
.header_name {
	  color: black;
	  padding: 20px;
      width: 68%;
      font-size: 60px;
	  text-align:center;
}   
.position {
    font-size: 50px;
	color: white;
	background: black;
}
.content {
    font-size: 40px;
	color: white;
	padding: 5px;
	width: 99.1%;
    background: #212121;
}
.text {
    font-size: 30px;
	color: black;
	line-height: 1.5;
}
#avatar {
    float: right;
}
a {
    color: #008000; /* Цвет обычной ссылки */ 
    text-decoration: none; /* Убираем подчеркивание у ссылок */
   }
   a:visited {
    color: #800080; /* Цвет посещённой ссылки */
   } 
   a:hover {
    color: #000000; /* Цвет ссылки при наведении на нее курсора мыши */  
    text-decoration: underline; /* Добавляем подчеркивание */
   }